<h1>Add a New Movie</h1>

<% if flash[:error] %>
  <p style="color: red;"><%= flash[:error].join(", ") %></p>
<% end %>

<%= form_with model: @movie, url: admin_movies_path, local: true, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :rating %><br>
    <%= f.select :rating, ["PG-13", "R", "G", "NC-17"], prompt: "Select Rating", required: true %>
  </div>

  <div>
    <%= f.label :duration, "Duration (in minutes)" %><br>
    <%= f.number_field :duration, required: true %>
  </div>

  <div>
    <%= f.label :image, "Upload Movie Image" %><br>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div>
    <%= f.submit "Create Movie" %>
  </div>
<% end %>

<br>
<%= link_to "← Back to Movies", admin_movies_path %>
